.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.red-text {
  color: red;
}

.poke-sprite {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.game-sprite {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.poke-info {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}

.type-img {
  width: 100px;
}